@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --color-primary-1: #f70776;
  --color-primary-2: #c3195d;;
  --color-primary-3: #680747;
  --color-primary-4: #141010;
}

p.error {
  color: red
}

label {
		display: block;
	}

.input-error {
		border: 1px solid red;
	}

input {
	font-size: 1em;
	max-width: 50ch;
}

textarea {
	font-size: 1rem;
	width: 50ch;
	height: 6ch;
}


.hidden {
		display: none;
}

body {
	font-family: 'Playfair Display', serif;
  margin-top: 0;
}

/* google like form */
.input-wrapper {
  position: relative;
}

.input-wrapper .input {
  padding: 8px 16px;
  border: 2px solid #6200EE;
  border-radius: 3px;
}

.input {
	width: 100%;
}

.input-wrapper .input:focus+.label {
  top: -8px;
  left: 8px;
	font-size: 16px;
}

.input-wrapper .label {
  position: absolute;
  left: 16px;
  top: 10px;
  padding: 0 4px;
  background-color: #fff;
  font-size: 18px;
  line-height: 1;
  color: #6200EE;
  transition: all .15s ease-out;
}

