@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --color-primary-1: #fedceb;
  --color-primary-2: #fc95c4;
  --color-primary-3: #fa4e9d;
  --color-primary-4: #f80776;
  --color-primary-5: #b10555;
  --color-primary-6: #6a0333;
  --color-primary-7: #230111;
  --color-secondary-1: #dcfeee;
  --color-secondary-2: #95fccc;
  --color-secondary-3: #4efaaa;
  --color-secondary-4: #07f889;
  --color-secondary-5: #05b162;
  --color-secondary-6: #036a3a;
  --color-secondary-7: #012313;
}

p.error {
  color: red
}


label {
  display: block;
}

.input-error {
  border: 1px solid red;
}

input {
  font-size: inherit;
  font-family: 'Playfair Display', sans-serif;
  outline: none;
  max-width: 650px;
  border: 1px solid var(--color-primary-4);
}

select {
  font-size: inherit;
  background: var(--color-primary-1);
  outline: none;
  font-family: 'Playfair Display', serif;
  border: 1px solid var(--color-primary-4);
}

textarea {
  font-size: inherit;
  font-family: 'Pacifico', cursive;
  height: 6ch;
}


.hidden {
  display: none!important;
}

body {
  font-family: 'Playfair Display', serif;
  margin-top: 0;
}

a {
  color: var(--color-secondary-6)
}

button {
  background-color: var(--color-primary-4);
  /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  padding: 2px 8px;
  border-radius: 6px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

.indent {
  margin-left: 20px;
  margin-bottom: 18px;
  margin-top: 6px;
}

.indent button {
  background-color: var(--color-primary-1);
  color: var(--color-primary-5)
}

.indent button{
  margin-left: 16px;
}

.indent form button{
  margin-left: 0;
}

.indent p:first-child::before {
  content: '↪';
}

.indent p:nth-child(2){
  margin-left: 16px;
}

p:has(+ .indent)  {
  font-weight: bold;
}